body {
    background-color: #4db6ac;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.header {
    display: inline-flex;
    height: 56px;
    width: 100%;
    background-color: #ffecb3;
    color: #cbba83;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.playerTurn {
    position: absolute;
    top: 50%;
    left: 100px;
    font-weight: 600;
    color: #ffecb3;
    text-align: center; 
    margin: 8px 0px 0px 16px;
}

.amountMoves {
    position: absolute;
    top: 50%;
    right: 100px;
    font-weight: 600;
    color: #ffecb3;
    text-align: center; 
    margin: 16px 0px 0px 8px;
}

.resetButton {
    position: absolute;
    top: 670px;
    border-radius: 48px;
    left: 50%;
    height: 48px;
    width: 48px;
    background-color: #ffecb3;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.resetButton:active {
    background-color: #cbba83;
}

.resetButton:focus {
    outline: none;
}

.gameTitle {
    flex: 1; 
    text-align: right; 
    margin: 8px 16px 0px 0px;
}

.chessboardContent {
    position: relative; 
    width: 600px; 
    left: calc(50% - 300px);
}

.chessBoard {
    position: absolute; 
    top: 60px; 
    left: 60px; 
    height: 480px; 
    width: 480px; 
    padding: 30px; 
    background-color: #f5f5f5; 
    border-radius: 5px;
}

.horizontalPositions {
    position: absolute; 
    right: 30px;
    top: 0px;
    height: 60px; 
    width: 510px;
}

.horizontalPosition {
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}

.verticalPositions {
    position: absolute; 
    top: 90px; 
    left: 0px; 
    display: flex; 
    height: 510px; 
    width: 60px;
}

.verticalPosition {
    height: 60px; 
    width: 60px; 
    float: left; 
    text-align: center; 
    line-height: 60px; 
    font-size: 24px;
}

.resetButton {
    background-color: ;
}

td {
    padding: 0px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #00867d;
}

tr {
    padding: 0px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #00867d;
}